page-login {
  background: transparent url("../assets/images/login/bg.jpg") no-repeat center center/cover;
  ion-header{
    .toolbar-title{
      color: #fff;
      font-size: 17px;
      //font-family: "Source Han Sans CN";
    }
  }
  ion-content{
    background: transparent !important;
    .name{
      margin: 36px 0 40px;
      img{
        max-width: 43.7%;
        height: auto;
      }
    }
    .container{
      width: 64%;
      margin: 0 auto;
      ion-list{
        margin-bottom: 15px;
        ion-item{
          box-shadow: none !important;
        }
        .item-block {
          min-height: 0;
          &:first-child{
            border-top:none !important;
          }
          &:last-child{
            border-color: rgba(255,255,255,0.3) !important;
          }
          .item-inner {
            border-color: rgba(255,255,255,0.3) !important;
            box-shadow: none !important;
            padding-right: 0;
          }
        }
        .user{
          background: transparent url("../assets/images/login/user.png") no-repeat 10px center/12px 13px;
        }
        .lock{
          margin-top: 18px;
          background: transparent url("../assets/images/login/lock.png") no-repeat 10px center/12px 15px;
        }
        .text-input{
          margin-right: 0;
          padding-left: 60px;
          padding-right: 0;
          width: 100%;
          font-size: 14px;
          color: #ffffff;
        }
      }
      .error-tip{
        background-color: rgba(249,118,118,0.8);
        color: #fff;
        padding: 13px;
      }
      button{
        border-radius: 0;
      }
      .btn-login{
        margin-top: 53px;
        background-color: rgba(255,255,255,0.9) !important;
        color: #2abf9e;
        font-weight: bold;
        box-shadow: none;
        &.disable{
          background-color: rgba(255,255,255,0.5) !important;
          color: #878787;
        }
      }
      .btn-new{
        margin-top: 15px;
        margin-bottom: 25px;
        border-color: rgba(255,255,255,0.5);
        color: rgba(255,255,255,0.7);
        &:active,&:focus{
          background-color: transparent;
        }
      }
      .forget{
        color: rgba(255,255,255,0.7);
        span{
          display: inline-block;
          cursor: pointer;
        }
      }
      .btn-weixin{
        margin-top: 28px;
        width: 19.8%;
        min-width: 50px;
        max-width:80px;
        background-color: transparent;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
