<ion-content>
  <div class="head-bar" [ngClass]="{'inverse-bar':isHeadBarInverse}">
    <div class="left-wrap">
      <button class="btn-state btn-back" (tap)="goback()">
        <img class="normal" src="assets/images/detail/go-back-white.png">
        <img class="inverse" src="assets/images/detail/go-back-black.png">
      </button>
    </div>
    <div class="right-wrap">
      <button class="btn-state btn-share" (tap)="goback()">
        <img class="normal" src="assets/images/detail/share-white.png">
        <img class="inverse" src="assets/images/detail/share.png">
      </button>
      <button class="btn-state btn-choiceness" (tap)="goback()">
        <img class="normal" src="assets/images/detail/mark-white.png">
        <img class="inverse" src="assets/images/detail/mark-black.png">
      </button>
    </div>
  </div>
  <div class="wrap" [ngClass]="{none:!hasInit}" (swipe)="swipeIt($event)">
    <div class="banner" #banner>
      <img [src]="data.map+bannerPostfix" class="img-full pointer" (tap)="openBigImage(0)">
    </div>
    <div class="main-wrap">
      <div class="info-wrap">
        <div class="logo-wrap">
          <img [src]="data.user_photo" *ngIf="data&&data.user_photo">
        </div>
        <p class="designer-name">
          {{data.real_name}}
        </p>
        <p class="detail-title" *ngIf="images.length>0">
          {{images[0].title}}
        </p>
        <p class="from-site">
          转自 home-designing
        </p>
      </div>
      <div class="list-wrap">
        <ng-container *ngFor="let item of images;let i=index;let last = last;">
          <div class="img-group" *ngIf="i>0">
            <img class="pointer" [src]="item.src" (tap)="openBigImage(i)">
            <p>{{item.title}}</p>
          </div>
        </ng-container>
      </div>
      <button class="btn-view" (tap)="openProjectDetail()">
        查看项目详情
        <span><img src="assets/images/detail/arrow-right.png"></span>
      </button>
    </div>
  </div>
</ion-content>
