page-edit-password {
  ion-content{
    .item-block {
      .item-inner {
        border-bottom-color: #e4e5e6!important;
        box-shadow: none !important;
      }
    }
  }
  .text-input{
    margin: 0;
    padding-left: 35px;
    padding-right: 0;
    width: 100%;
    font-size: 15px;
    color: #878787;
  }
  .input-has-value{
    .text-input{
      font-weight: bold;
    }
  }
  .error-tip{
    background-color: rgba(249,118,118,1);
    color: #fff;
    padding: 14px;
    margin: 20px 16px 0;
    text-align: center;
    opacity: 1;
    transition: all 0.2s;
    &.none{
      opacity: 0;
    }
  }
  .right-wrap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0,0,0,0.3);
    img{
      position: absolute;
      left: 50%;
      top: 50%;
      width: 190px;
      height: 182px;
      margin-left: -95px;
      margin-top: -91px;
    }
  }
  .btn-sure{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 49px;
    margin: 0;
    border-radius: 0;
    background-color: #2abf9e !important;
    font-size: 15px;
    color: #ffffff;
    box-shadow: none;
    transition: all 0.2s;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 50%, rgba(45,172,188,1) 100%);
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 50%,rgba(45,172,188,1) 100%);
      background: linear-gradient(to right,  rgba(255,255,255,0) 50%,rgba(45,172,188,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#2dacbc',GradientType=1 );
      transition: all 0.2s;
    }
    &.disable{
      background-color: #dddddd !important;
      &:before{
        display: none;
      }
    }
  }
}
