<ion-header no-border class="g-header">
  <ion-toolbar>
    <ion-buttons start>
      <button class="btn-goback" (tap)="goback()" [ngClass]="{none:!canGoback()}">
      </button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item transparent no-padding class="lock">
    <ion-input maxlength="20" #password type="password" [ngModel]="pwd" (ngModelChange)="changePassword($event)" (keydown.enter)="onKeyPress(1)" placeholder="请输入原密码"></ion-input>
  </ion-item>
  <ion-item transparent no-padding class="lock">
    <ion-input maxlength="20" #password2 type="password" [ngModel]="pwd2" (ngModelChange)="changeNewPassword($event)" (keydown.enter)="onKeyPress(2)" placeholder="请输入新密码"></ion-input>
  </ion-item>
  <div class="error-tip" [ngClass]="{none:!hasError}">
    <p [ngClass]="{none:pwd.length>=6}">请输入6-20位的原密码</p>
    <p [ngClass]="{none:pwd2.length>=6}">请输入6-20位的新密码</p>
    <p [ngClass]="{none:!isPasswordError}">原密码输入错误，请重新输入</p>
  </div>
  <button ion-button class="btn-sure" [ngClass]="{disable:pwd==''||pwd2==''}" (tap)="sureChange()">确 定</button>
  <div class="right-wrap" [@bg]="viewState" *ngIf="isSuccess">
    <img src="assets/images/edit-password/success.png" [@image]="viewState" *ngIf="isSuccess">
  </div>
</ion-content>
